<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Stock Price Tracker</title>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src='{{ url_for('static', filename='script.js') }}'></script>
    </head>
    <body>
        <div class='top-section'>
            <h1 class='top-title'>Stock Price Tracker</h1>

            <form id='add-ticker'>
                <input type='text' id='new-ticker' placeholder='Add Ticker' Required>
                <button type='submit'>Add</button>
            </form>
            <p class='time' id='timer'>
                Next update in <span id='counter'></span> seconds
            </p>
        </div>

        <div class='bottom-section' id='ticker-grid'></div>
    </body>
</html>